services:                                   
    mariadb:
        build: requirements/mariadb
        container_name: mariadb
        volumes:
              - mariadb_data:/var/lib/mysql
        networks:
              - inception_network
        image: mariadb:42
        restart: always
        env_file:
              - ~/.local/.env
        secrets:
              - db_root_password
              - db_user_password
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 10s

    wordpress:
        build: requirements/wordpress
        container_name: wordpress
        depends_on:
            - mariadb
        volumes:
            - wordpress_data:/var/www/html
        networks:
            - inception_network
        image: wordpress:42
        restart: always
        env_file:
            - ~/.local/.env
        secrets:
            - wp_admin_password
            - wp_user_password
            - db_user_password
        healthcheck:
            test: ["CMD", "pidof", "php-fpm8.3"]
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 10s

    nginx:
        build: requirements/nginx
        container_name: nginx
        depends_on:
            wordpress:
              condition: service_healthy
        ports:
            - "443:443"
        volumes:
            - wordpress_data:/var/www/html
        networks:
            - inception_network
        image: nginx:42
        restart: always
        env_file:
            - ~/.local/.env
        healthcheck:
            test: ["CMD", "curl", "-k", "-f", "https://localhost:443"]
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 10s

volumes:
    mariadb_data:
        driver: local
        driver_opts:
            type: none
            device: /home/${USER}/data/mariadb
            o: bind
    wordpress_data:
        driver: local
        driver_opts:
            type: none
            device: /home/${USER}/data/wordpress
            o: bind

networks:
    inception_network:
        driver: bridge

secrets:
    db_root_password:
        file: ~/.local/secrets/db_root_password.txt
    db_user_password:
        file: ~/.local/secrets/db_user_password.txt
    wp_admin_password:
        file: ~/.local/secrets/wp_admin_password.txt
    wp_user_password:
        file: ~/.local/secrets/wp_user_password.txt
